{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/liked_video_page.css' %}">
{% endblock %}

{% block content %}

<!-- Video List -->
<div class="video-list" id="liked-videos-list">
    {% for video in liked_videos %}
    <div class="video-item" id="{{ video.video.id }}">
            <a href="{% url 'full_video' video.video.id %}" class="video-item">
        <div class="video-thumbnail">
            <img src="{{ video.video.thumbnail.url }}" alt="" srcset="">
        </div>

        <div class="video-details">
            <div class="video-title">{{ video.title }}</div>
            <div class="video-meta">
                <span>{{ video.video.views }} views</span> •
                <span>{{ video.video.likes }} likes</span> •
                <span>{{ video.video.dislikes }} dislikes</span> •
                <span>{{ video.video.published_date|date:"M d, Y" }}</span>
            </div>
        </div>

    </a>
        <div class="video-actions">
            <button onclick="removeLike('{{ video.video.id }}')" class="action-btn delete-btn">remove</button>
        </div>
    </div>
    {% empty %}
    <p>No liked videos found.</p>
    {% endfor %}
</div>

{% endblock %}

{% block extra_js %}
 <script>
        function removeLike(videoId) {
            fetch(`/video_api/remove_like/${videoId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ video_id: videoId })
            })
            .then(response => {
                if (response.ok) {
                    // Remove the video item from the DOM
                    const like_list  = document.getElementById("liked-videos-list");
                    const like_item = document.getElementById(videoId);
                    like_list.removeChild(like_item);
                } else {
                    console.error('Error removing like:', response.statusText);
                }
            });
        }
    </script>
{% endblock %}
