{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/your_videos.css' %}">
{% endblock %}

{% block content %}
        <div class="video-container">
            <div class="video_single">
                <div class="title">tension song by dilgit dosanj</div>
                <div class="video">
                    <video width="320" height="240" controls>
                        <source src="{% static 'videos/tension.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
            </div>
        </div>
{% endblock %}
