  :root {
            --primary-color: #87CEEB; /* Sky Blue */
            --secondary-color: #ADD8E6; /* Light Blue */
            --background-color: #f9f9f9;
            --text-color: #333333;
            --text-color-light: #ffffff;
            --border-color: #e0e0e0;
        }

        body {
            font-family: 'Roboto', sans-serif;
            background-color: var(--background-color);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 10px;
        }

        .container {
            background: var(--text-color-light);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 100%;
            max-width: 350px;
            margin: auto;
        }

        h2 {
            margin-bottom: 20px;
            color: var(--text-color);
        }

        .input-group {
            margin-bottom: 15px;
            text-align: left;
        }

        .input-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: var(--text-color);
        }

        .input-group input {
            width: 92%;
            padding: 10px;
            border: 1px solid var(--border-color);
            border-radius: 5px;
            font-size: 1rem;
        }

        .btn {
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            font-weight: bold;
        }

        .btn-signin {
            background: var(--primary-color);
            color: var(--text-color-light);
        }

        .btn-signin:hover {
            background: var(--secondary-color);
        }

        .register-section {
            margin-top: 20px;
            text-align: center;
            font-size: 0.9rem;
            color: var(--text-color);
        }

        .register-section p {
            margin-bottom: 10px;
            font-weight: bold;
        }

        .btn-register {
            background: var(--secondary-color);
            color: var(--text-color);
        }

        .btn-register:hover {
            background: var(--primary-color);
            color: var(--text-color-light);
        }

        @media (max-width: 480px) {
            .container {
                padding: 20px;
                width: 90%;
            }

            .btn {
                font-size: 0.9rem;
                padding: 8px;
            }
        }