{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VPlatform - YouTube Clone</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css%}
    {% endblock %}    
    

</head>

<body>
    <div class="wrapper">
        <!-- Top bar -->
        <div class="top-bar">
            <div class="top-left">
                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fas fa-bars"></i>
                </button>
                <a class="site-title" href="/">VPlatform</a>
            </div>

            <!-- Search Bar -->
            <div class="search-container">
                <div class="search-box">
                    <input type="text" placeholder="Search..." />
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>


                {% if user.is_authenticated %}
                <div class="user-profile-container">
                    <div class="user-avatar">
                        <i class="fas fa-user"></i>
                    </div>
                    <span class="username-text">{{ user.username }}</span>
                </div>
                {% else %}
                <a href="/sign_in" class="sign-in">Sign In</a>
                {% endif %}


        </div>

        <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li class="active"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/trendings/"><i class="fas fa-fire"></i> Trending</a></li>
                <li><a href="/subscription/"><i class="fas fa-subscript"></i> Subscriptions</a></li>
                <li><a href="/your_videos/"><i class="fas fa-folder"></i> Your Videos</a></li>
                <li><a href="/history/"><i class="fas fa-history"></i> History</a></li>
                <li><a href="/saved_videos/"><i class="fas fa-clock"></i> Watch Later</a></li>
                <li><a href="/liked_videos/"><i class="fas fa-thumbs-up"></i> Liked Videos</a></li>
            </ul>
            {% if user.is_authenticated %}
            <div class="logout"><a href="/logout/">Log Out</a></div>
            {% endif %}
        </nav>

        <!-- Page Content -->
        <div id="content">
            {% block content%}
            {% endblock %}
        </div>
    </div>

    <script>
        document.getElementById('sidebarCollapse').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('active');
        });
    </script>
    {% block extra_js%}
    {% endblock %}
</body>

</html>